In [1]:
import numpy as np
import pandas as pd

#dataset with Disney movies and total_gross
disney_df = pd.read_csv('https://query.data.world/s/mkfcxqicohry4awyjy22wa6r3qg233?dws=00000')

disney_df

#Question to solve for: Does the popularity of a Disney movie correlate with the creation of a lego set?

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,"$184,925,485","$5,228,953,251"
1,Pinocchio,"Feb 9, 1940",Adventure,G,"$84,300,000","$2,188,229,052"
2,Fantasia,"Nov 13, 1940",Musical,G,"$83,320,000","$2,187,090,808"
3,Song of the South,"Nov 12, 1946",Adventure,G,"$65,000,000","$1,078,510,579"
4,Cinderella,"Feb 15, 1950",Drama,G,"$85,000,000","$920,608,730"
...,...,...,...,...,...,...
574,The Light Between Oceans,"Sep 2, 2016",Drama,PG-13,"$12,545,979","$12,545,979"
575,Queen of Katwe,"Sep 23, 2016",Drama,PG,"$8,874,389","$8,874,389"
576,Doctor Strange,"Nov 4, 2016",Adventure,PG-13,"$232,532,923","$232,532,923"
577,Moana,"Nov 23, 2016",Adventure,PG,"$246,082,029","$246,082,029"
578,Rogue One: A Star Wars Story,"Dec 16, 2016",Adventure,PG-13,"$529,483,936","$529,483,936"

In [2]:
disney_df.genre = disney_df['genre'].apply(lambda x: 'Comedy' if x in ['Romantic Comedy', 'Black Comedy'] else 'Thriller' if x in ['Thriller/Suspense', 'Horror'] else 'Musical' if x in ['Concert/Performance'] else x)

In [3]:
#disney_df.sort_values('inflation_adjusted_gross', ascending=False, inplace=True)

In [4]:
# Local file path to the downloaded CSV file

file_path = '/Users/medirose/Downloads/lego_sets.csv'
# Read the CSV file into a DataFrame

legos_df = pd.read_csv(file_path)

In [5]:
legos_df.drop(columns=['ages', 'num_reviews', 'play_star_rating', 'prod_desc', 'val_star_rating'], inplace=True)

In [6]:
legos_df.review_difficulty = legos_df['review_difficulty'].apply(lambda x: 'Easy' if x in ['Very Easy'] else ('Challenging' if x in ['Very Challenging'] else x))

In [7]:
legos_df['list_price'] = legos_df['list_price'].round(2)

In [8]:
mask = legos_df['prod_long_desc'].str.contains('Disney', case=False)

disneylegos_df = legos_df[mask]

In [18]:
disneylegos_df.dropna(inplace=True)

/var/folders/mg/fz6127296bzcnc_rxkv52kvm0000gn/T/ipykernel_5010/2044091427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disneylegos_df.dropna(inplace=True)

In [19]:
disneylegos_df.drop_duplicates(inplace=True)

/var/folders/mg/fz6127296bzcnc_rxkv52kvm0000gn/T/ipykernel_5010/1970807076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disneylegos_df.drop_duplicates(inplace=True)

In [20]:
df_without_duplicates = disneylegos_df.copy()
df_without_duplicates.reset_index(drop=True, inplace=True)

In [21]:
disneylegos_df

,list_price,piece_count,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,country
16,19.99,160.0,41613.0,These LEGO® BrickHeadz™ 41613 Mr. Incredible &...,Easy,Mr. Incredible & Frozone,5.0,BrickHeadz,US
36,9.99,118.0,41594.0,"New for March 2017, LEGO® BrickHeadz construct...",Easy,Captain Armando Salazar,5.0,BrickHeadz,US
40,9.99,109.0,41593.0,"New for March 2017, LEGO® BrickHeadz construct...",Easy,Captain Jack Sparrow,4.8,BrickHeadz,US
42,9.99,139.0,41595.0,"New for March 2017, LEGO® BrickHeadz construct...",Easy,Belle,4.8,BrickHeadz,US
43,9.99,116.0,41596.0,"New for March 2017, LEGO® BrickHeadz construct...",Average,Beast,5.0,BrickHeadz,US
...,...,...,...,...,...,...,...,...,...
11910,30.49,24.0,10597.0,All aboard the Mickey Mouse Clubhouse birthday...,Easy,Mickey & Minnie Birthday Parade,4.8,DUPLO®,PT
11919,24.39,23.0,10856.0,Little fans of Disney•Pixar’s Cars 3 will love...,Easy,Mater´s Shed,5.0,DUPLO®,PT
11979,42.69,230.0,21314.0,"Build, play and display with this futuristic L...",Easy,TRON: Legacy,4.4,Ideas,PT
11985,60.99,266.0,10745.0,Start your engines and take part in the exciti...,Challenging,Florida 500 Final Race,5.0,Juniors,PT
12000,18.29,67.0,10738.0,Stop by for a visit at Disney Snow White’s For...,Average,Snow White's Forest Cottage,5.0,Juniors,PT